/* Start Main layout Styling */
body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: "Bangers", "cursive";
}


h1 {
    font-size: 50px;
    margin: 2px;
    padding: 2px 2px;
}

.page-body {
    height: 600px;
    text-align: center;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}



.hidden {
    display: none;
}

.shown {
    display: block;
}





/* End Main layout Styling */

/* Start Modal styling */

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    top: 5%;
    left: 0;
    width: 50%;
    height: 50%;

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* to centre the modal */
    text-align: center;
}

/* img-element {
  flex-grow: 3;
} */

/* End Modal styling */

/* Responsive layout start */
@media all and (max-width: 360px) {
    .page-body {
        height: 400px;
    }
    .modal {
        height: 450px;
    }
}
/* Responsive layout finish */

